<div class="card">
	<div class="card-header">
		{{cardTitle}}

	</div>
	<div class="card-body">
		<h5 class="card-title">{{cardTitle}}</h5>
		<p class="card-text">{{cardText}}</p>
		<a href="#" class="btn btn-primary">{{btnText}}</a>
	</div>
</div>
